:root {
    --black:#3A3845;
    --brown: #C69B7B;
    --gray-main:#F7F6F5;
    --gray-light:#E5E5E5;
    --gray:#A6A6A8;
    /* --gray-dark:; */
  }
@font-face {
    font-family: 'Gilroy';
    src: url('./font/Gilroy-Light.otf');
    font-weight: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./font/Gilroy-ExtraBold.otf');
    font-weight: bold;
}
/* medium не работает */
@font-face {
    font-family: 'Gilroy';
    src: url('./font/gilroy-medium.ttf');
    font-weight: medium;
}

body{
    font-family: 'Gilroy';
    font-weight: normal;
    font-size: 16px;
    background-color: var(--gray-main);
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}