.breadCrumbs {
  display: flex;
  gap: 15px;
  margin-top: 24px;
  font-weight: 500;
}
.breadCrumbs a {
  color: var(--gray);
}
.breadCrumbs a:hover {
  transition: 0.3s;
  color: var(--brown);
}
.breadCrumbs__slash {
  cursor: default;
  color: var(--gray);
}

.product {
  display: flex;
  margin-top: 24px;
}
.product__img-container {
  margin-top: 24px;
}
.product__img-main {
  width: 692px;
  height: 464px;
}
.product__img-mini:not(:last-child) {
  margin-right: 5px;
}

.description {
  margin-left: 20px;
}
.description__title {
  font-size: 24px;
  font-weight: 600;
}
.description__extra {
  margin-top: 24px;
  display: flex;
}
.description__extra-star {
  margin-right: 4px;
  width: 20px;
  height: 20px;
  stroke: var(--brown);
}
.description__extra-reviews {
  color: var(--gray-dark);
  width: 115px;
  margin-left: 12px;
}
.description__extra-reviews:hover {
  transition: 0.3s;
  color: var(--black);
  font-weight: 500;
}
.description__extra-stock {
  margin-left: 40px;
}
.description__extra-inStock {
  margin-left: 2px;
  color: var(--gray-dark);
}
.description__price {
  margin-top: 24px;
  display: flex;
  font-weight: 600;
}
.description__price-discount {
  font-size: 24px;
}
.description__price-basic {
  margin-left: 16px;
  font-size: 24px;
  color: var(--gray);
}
.description__color {
  margin-top: 24px;
}
.description__color p {
  font-weight: 500;
}
.description__color-flex {
  margin-top: 8px;
  display: flex;
  gap: 8px;
}
.description__color-flex li {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
}
.description__color-flex li:hover {
  border: 1px solid var(--gray-dark);
}
.description__color-active {
  border: 1px solid var(--gray-dark);
}
.description__add {
  margin-top: 24px;
  display: flex;
}
.description__add-btn {
  width: 386px;
  height: 48px;
  display: flex;
  border-radius: 4px;
  background-color: var(--black);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 8px;
}
.description__add-btn:hover {
  transition: 0.5s;
  background-color: var(--brown);
}
.description__add-btn__icon {
  width: 21px;
  height: 21px;
}
.description__add-btn__text {
  color: #fff;
  font-weight: 500;
}
.description__add-favor {
  cursor: pointer;
  width: 48px;
  height: 48px;
  border: 1px solid var(--black);
  border-radius: 4px;
  margin-left: 20px;
  padding: 15px 0 0 14px;
}
.description__add-favor:hover {
  transition: 0.3s;
  border: 1px solid var(--brown);
}
.description__add-favor:hover svg {
  transition: 0.3s;
  stroke: var(--brown);
  fill: var(--brown);
}
.description__social {
  display: flex;
  margin-top: 31px;
  gap: 8px;
}
.description__social svg {
  fill: var(--gray-dark);
  cursor: pointer;
}
.description__social svg:hover {
  transition: 0.5s;
  fill: var(--brown);
}
.description__social p {
  font-weight: 500;
  margin-top: 5px;
  margin-right: 24px;
}
.description__accordion {
  margin-top: 31px;
  max-width: 488px;
  height: 203px;
  border-radius: 4px;
  background-color: #fff;
}
.description__accordion-separator {
  max-width: 440px;
  height: 1px;
  background-color: var(--gray-light);
  margin: 0 auto;
}
.description__accordion-container {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  height: 67px;
  width: 100%;
  padding: 0 24px;
  border-radius: 4px;
  border: 1px solid #fff;
}
.description__accordion-container:hover {
  transition: 0.3s;
  border-radius: 4px;
  border: 1px solid var(--brown);
}
.description__accordion-container p {
  margin-top: 22px;
  font-size: 20px;
  font-weight: 600;
}
.description__accordion-container svg {
  margin-top: 5px;
}

.similar {
  margin-top: 130px;
}
.similar__header {
  display: flex;
  justify-content: space-between;
}
.similar__header p {
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
}
.similar__header-btn {
  display: flex;
  gap: 16px;
}
.similar__header-btn div {
  text-align: center;
  padding-top: 11px;
  width: 44px;
  height: 44px;
  border-radius: 4px;
}
.similar__header-btn__active {
  border: 1px solid var(--black);
  cursor: pointer;
}
.similar__header-btn__active svg {
  stroke: var(--black);
}
.similar__header-btn__active:hover {
  border: 1px solid var(--brown);
}
.similar__header-btn__active:hover svg {
  stroke: var(--brown);
}
.similar__header-btn__notActive {
  cursor: default;
  border: 1px solid var(--gray-light);
}
.similar__header-btn__notActive svg {
  stroke: var(--gray-light);
}
.similar__list {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  overflow-x: auto;
}
.similar__list-product {
  position: relative;
  width: 285px;
  height: 424px;
  background-color: #fff;
}
.similar__list-mobile {
  display: none;
}
.similar__list svg {
  position: absolute;
  right: 20px;
  top: 20px;
}
.similar__list h3 {
  margin: 16px 0 0 16px;
  font-weight: 600;
  font-size: 18px;
}
.similar__list p {
  margin: 8px 0 0 16px;
  color: var(--gray-dark);
  font-weight: 500;
}
.similar__mobile {
  display: none;
}

.star-filled {
  fill: var(--brown);
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.header {
  width: 100%;
  background-color: #ffffff;
  height: 96px;
}
.header__container {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  margin-top: 24px;
}
.header__menu {
  margin-top: 40px;
  display: flex;
  margin-left: 40px;
}
.header__menu-link {
  padding: 0 14px 5px;
  position: relative;
  font-weight: 500;
  color: var(--black);
}
.header__menu-link:hover {
  transition: 0.3s;
  color: var(--brown);
}
.header__menu-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  background: none repeat scroll 0 0 transparent;
  height: 2px;
  width: 0;
  background: var(--brown);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.header__menu-link:hover::after {
  width: 100%;
  left: 0;
}
.header__search {
  margin-top: 26px;
  position: relative;
}
.header__search-input {
  width: 320px;
  padding-left: 40px;
  border-radius: 4px;
  height: 44px;
  border: 1px solid var(--gray-light);
}
.header__search-input:focus {
  border: 1px solid var(--brown);
}
.header__search-button {
  position: absolute;
  left: 12px;
  top: 12px;
  stroke: #a6a6a8;
}
.header__user-list {
  margin-top: 37px;
  display: flex;
  gap: 22px;
}
.header__icon-cart {
  margin-top: 1px;
}
.header__icon-favorites {
  margin-top: 5px;
}
.header__burger {
  margin-top: 32px;
  display: none;
}

.header__person {
  display: flex;
}
.header__person-cart {
  margin-top: 1px;
}

.header__search-input:focus + .header__search-button svg,
.header__search-button:focus svg {
  stroke: var(--brown);
}

.fillingFooter {
  width: 100%;
  height: auto;
  background-color: var(--black);
  margin-top: 130px;
  color: #fff;
}

.footer__flex {
  display: flex;
  justify-content: space-between;
}
.footer__info img {
  margin-top: 40px;
}
.footer__info-text {
  width: 304px;
  margin-top: 40px;
  color: var(--gray);
}
.footer__info-btn {
  margin-top: 24px;
  display: flex;
  gap: 10px;
  justify-content: center;
  width: 240px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #fff;
  cursor: pointer;
}
.footer__info-btn:hover {
  transition: 0.3s;
  border: 1px solid var(--brown);
}
.footer__info-btn:hover p {
  transition: 0.3s;
  color: var(--brown);
}
.footer__info-btn:hover svg {
  transition: 0.3s;
  stroke: var(--brown);
}
.footer__info-btn p {
  margin-top: 12px;
  font-weight: 600;
}
.footer__info-btn svg {
  stroke: #fff;
}
.footer__nav {
  margin-top: 40px;
  display: flex;
}
.footer__nav-title {
  margin-left: 80px;
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 500;
}
.footer__nav-link {
  margin-bottom: 12px;
  margin-left: 80px;
  font-weight: 500;
}
.footer__nav-link:hover {
  transition: 0.5s;
  color: #fff;
}
.footer__nav-link a {
  color: var(--gray);
}
.footer__bottom {
  text-align: center;
}
.footer__bottom div {
  width: 100%;
  margin: 40px auto 0;
  height: 2px;
  background-color: #4d4a59;
}
.footer__bottom p {
  padding: 24px 0;
  color: var(--gray-dark);
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 20px;
  }
}
@media screen and (max-width: 1050px) {
  .header__navigation {
    display: none;
  }
  .header__user {
    display: none;
  }
  .header__burger {
    display: block;
  }
}
@media screen and (max-width: 650px) {
  .header__search {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .product {
    max-width: 900px;
    margin: 24px auto 0;
    display: block;
  }
  .product__img {
    display: flex;
  }
  .product__img-container {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  .product__img-mini:not(:last-child) {
    margin-right: 0px;
  }
  .product__img-mini {
    margin-left: 20px;
    width: 115px;
  }
  .product .description {
    margin: 24px 0 0;
  }
  .breadCrumbs {
    max-width: 900px;
    margin: 24px auto 0;
  }
}
@media screen and (max-width: 900px) {
  .product {
    max-width: 600px;
  }
  .product__img {
    display: block;
  }
  .product__img-container {
    flex-direction: row;
    overflow-x: auto;
  }
  .product__img-main {
    height: auto;
  }
  .product__img-mini {
    margin: 20px 0 0 0;
  }
  .breadCrumbs {
    max-width: 600px;
  }
}
@media screen and (max-width: 500px) {
  .description__add-btn {
    width: 260px;
  }
}
@media screen and (max-width: 1120px) {
  .similar__list {
    max-width: 895px;
    margin: 24px auto 0;
    grid-template-columns: repeat(3, 1fr);
  }
  .similar__header {
    margin: 0 auto;
    max-width: 895px;
  }
}
@media screen and (max-width: 920px) {
  .similar__list {
    max-width: 590px;
    grid-template-columns: repeat(2, 1fr);
  }
  .similar__header {
    max-width: 590px;
  }
}
@media screen and (max-width: 500px) {
  .similar__header {
    display: flex;
    justify-content: center;
  }
  .similar__header-btn {
    display: none;
  }
  .similar__list-product {
    display: none;
  }
  .similar__list-mobile {
    display: block;
    position: relative;
    width: 156px;
    height: 283px;
    background-color: #fff;
  }
  .similar__list svg {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .similar__list h3 {
    margin: 8px 0 0 8px;
    font-weight: 500;
    font-size: 16px;
  }
  .similar__list p {
    margin: 8px 0 0 8px;
    color: var(--gray-dark);
    font-weight: 500;
  }
  .similar__mobile-btn {
    margin-top: 24px;
    display: flex;
    gap: 16px;
    justify-content: flex-end;
  }
  .similar__mobile-btn div {
    text-align: center;
    padding-top: 11px;
    width: 44px;
    height: 44px;
    border-radius: 4px;
  }
  .similar__mobile-btn__active {
    border: 1px solid var(--black);
    cursor: pointer;
  }
  .similar__mobile-btn__active svg {
    stroke: var(--black);
  }
  .similar__mobile-btn__active:hover {
    border: 1px solid var(--brown);
  }
  .similar__mobile-btn__active:hover svg {
    stroke: var(--brown);
  }
  .similar__mobile-btn__notActive {
    cursor: default;
    border: 1px solid var(--gray-light);
  }
  .similar__mobile-btn__notActive svg {
    stroke: var(--gray-light);
  }
}
@media screen and (max-width: 980px) {
  .footer__nav-title {
    margin-left: 40px;
  }
  .footer__nav-link {
    margin-left: 40px;
  }
}
@media screen and (max-width: 870px) {
  .footer__flex {
    display: block;
    align-items: center;
  }
  .resetting__margin {
    margin-left: 0px;
  }
}
@media screen and (max-width: 600px) {
  .footer__nav {
    display: grid;
    gap: 40px;
    grid-template-columns: 150px 150px;
  }
  .footer__nav-title {
    margin-left: 0px;
  }
  .footer__nav-link {
    margin-left: 0px;
  }
}
:root {
  --black: #3a3845;
  --brown: #c69b7b;
  --gray-main: #f7f6f5;
  --gray-light: #e5e5e5;
  --gray: #a6a6a8;
  --gray-dark: #807f86;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../assets/font/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../assets/font/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../assets/font/Gilroy-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../assets/font/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 16px;
  color: var(--black);
  background-color: var(--gray-main);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.svg {
  stroke: var(--black);
  fill: rgba(255, 255, 255, 0);
  cursor: pointer;
}
.svg:hover {
  transition: 0.3s;
  fill: var(--brown);
  stroke: var(--brown);
}

/*# sourceMappingURL=styles.css.map */
