.breadCrumbs {
  display: flex;
  gap: 15px;
  margin-top: 24px;
  font-weight: 500;

  &__passiv {
    color: var(--gray);
    cursor: pointer;

    &:hover {
      transition: 0.3s;
      color: var(--brown);
    }
  }

  &__slash {
    cursor: default;
    color: var(--gray);
  }
}

.product {
  display: flex;
  margin-top: 24px;

  &__image {
    max-width: 692px;
    height: 464px;
  }

  &__miniImg {
    margin-top: 24px;
    display: flex;
    gap: 9px;
  }
}

.description {
  margin-left: 20px;

  &__title {
    font-size: 24px;
  }

  &__extra {
    margin-top: 24px;
    display: flex;

    &-stars {
      margin-right: 4px;
      width: 20px;
      height: 20px;
    }

    &-reviews {
      color: var(--gray-dark);
      margin-left: 12px;
    }

    &-stock {
      margin-left: 40px;
    }

    &-inStock {
      margin-left: 2px;
      color: var(--gray-dark);
    }
  }

  &__price {
    margin-top: 24px;
    display: flex;

    &-discount {
      font-size: 24px;
    }

    &-basic {
      margin-left: 16px;
      font-size: 24px;
      color: var(--gray);
    }
  }

  &__color {
    margin-top: 24px;

    &-flex {
      margin-top: 8px;
      display: flex;
      gap: 8px;

      &__items {
        width: 40px;
        height: 40px;
        border-radius: 4px;
        cursor: pointer;
        
        &:hover {
          border: 1px solid var(--gray-dark);
        }
      }
    }
  }

  &__active {
    border: 1px solid var(--gray-dark);
  }

  &__add {
    margin-top: 24px;
    display: flex;

    &-btn {
      width: 386px;
      height: 48px;
      display: flex;
      border-radius: 4px;
      background-color: var(--black);
      align-items: center;
      justify-content: center;
      cursor: pointer;
      gap: 8px;

      &__icon {
        width: 21px;
        height: 21px;
      }

      &__text {
        color: #fff;
      }
    }

    &-favor {
      cursor: pointer;
      width: 48px;
      height: 48px;
      border: 2px solid var(--black);
      border-radius: 4px;
      margin-left: 20px;
      padding: 12px;
    }
  }

  &__social {
    display: flex;
    margin-top: 24px;
    gap: 8px;
    
    &-text {
      margin-top: 5px;
      margin-right: 24px;
    }
  }
}
