.breadcrumbs {
  display: flex;
  gap: 15px;
  margin-top: 24px;
  font-weight: 500;

  &__link {
    color: var(--gray);

    &:hover {
      transition: 0.3s;
      color: var(--brown);
    }
  }

  &__separator {
    cursor: default;
    color: var(--gray);
  }
}
.product {
  display: flex;
  margin-top: 24px;
  &__details {
    margin-left: 20px;
  }
  &__title {
    font-size: 24px;
    font-weight: 600;
  }
}

.product__images {
  &-main {
    width: 692px;
    height: 464px;
  }
  &-thumbnails {
    margin-top: 24px;
  }
  &-thumbnail:not(:last-child) {
    margin-right: 5px;
  }
}

.product__extra {
  margin-top: 24px;
  display: flex;

  &-star {
    margin-right: 4px;
    width: 20px;
    height: 20px;
    stroke: var(--brown);
  }

  &-reviews {
    color: var(--gray-dark);
    width: 115px;
    margin-left: 12px;
    &:hover {
      transition: 0.3s;
      color: var(--black);
      font-weight: 500;
    }
  }

  &-stock {
    &__label {
      margin-left: 40px;
    }
    &__status {
      margin-left: 2px;
      color: var(--gray-dark);
    }
  }
}

.star-filled {
  fill: var(--brown);
}

.product__price {
  margin-top: 24px;
  display: flex;
  font-weight: 600;

  &-discount {
    font-size: 24px;
  }

  &-regular {
    margin-left: 16px;
    font-size: 24px;
    color: var(--gray);
  }
}

.product__colors {
  margin-top: 24px;
  &-title {
    font-weight: 500;
  }

  &-list {
    margin-top: 8px;
    display: flex;
    gap: 8px;
  }

  &-item {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      border: 1px solid var(--gray-dark);
    }
  }
  &-active {
    border: 1px solid var(--gray-dark);
  }
}

.product__colors {
  margin-top: 24px;
  &-title {
    font-weight: 500;
  }

  &-list {
    margin-top: 8px;
    display: flex;
    gap: 8px;
  }

  &-item {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      border: 1px solid var(--gray-dark);
    }
  }
  &-active {
    border: 1px solid var(--gray-dark);
  }
}

.product__price {
  margin-top: 24px;
  display: flex;
  font-weight: 600;

  &-discount {
    font-size: 24px;
  }

  &-regular {
    margin-left: 16px;
    font-size: 24px;
    color: var(--gray);
  }
}

.product__actions {
  margin-top: 24px;
  display: flex;

  &-add {
    width: 386px;
    height: 48px;
    display: flex;
    border-radius: 4px;
    background-color: var(--black);
    align-items: center;
    justify-content: center;
    gap: 8px;

    &:hover {
      transition: 0.5s;
      background-color: var(--brown);
    }

    &__icon {
      width: 21px;
      height: 21px;
    }

    &__text {
      color: #fff;
      font-weight: 500;
    }
  }

  &-favorites {
    width: 48px;
    height: 48px;
    border: 1px solid var(--black);
    border-radius: 4px;
    margin-left: 20px;
    padding: 4px 0 0 2px;

    &:hover {
      transition: 0.3s;
      border: 1px solid var(--brown);

      svg {
        transition: 0.3s;
        stroke: var(--brown);
        fill: var(--brown);
      }
    }
  }
}

.product__social {
  margin-top: 31px;
  gap: 8px;
  display: flex;

  &-link {
    svg {
      fill: var(--gray-dark);
      cursor: pointer;
      &:hover {
        transition: 0.5s;
        fill: var(--brown);
      }
    }
  }

  &-text {
    font-weight: 500;
    margin-top: 5px;
    margin-right: 24px;
  }
}

.product__accordion {
  margin-top: 31px;
  max-width: 488px;
  height: 203px;
  border-radius: 4px;
  background-color: #fff;

  &-separator {
    max-width: 440px;
    height: 1px;
    background-color: var(--gray-light);
    margin: 0 auto;
  }

  &-item {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    height: 67px;
    width: 100%;
    padding: 0 24px;
    border-radius: 4px;
    border: 1px solid #fff;

    &:hover {
      transition: 0.3s;
      border-radius: 4px;
      border: 1px solid var(--brown);
    }
  }
  &-title {
    margin-top: 22px;
    font-size: 20px;
    font-weight: 600;
  }

  &-icon {
    margin-top: 5px;
  }
}

.similar {
  margin-top: 130px;

  &__header {
    display: flex;
    justify-content: space-between;

    p {
      font-size: 40px;
      font-weight: 600;
      text-transform: uppercase;
    }

    &-btn {
      display: flex;
      gap: 16px;

      div {
        text-align: center;
        padding-top: 11px;
        width: 44px;
        height: 44px;
        border-radius: 4px;
      }

      &__active {
        border: 1px solid var(--black);
        cursor: pointer;

        svg {
          stroke: var(--black);
        }

        &:hover {
          border: 1px solid var(--brown);

          svg {
            stroke: var(--brown);
          }
        }
      }

      &__notActive {
        cursor: default;
        border: 1px solid var(--gray-light);

        svg {
          stroke: var(--gray-light);
        }
      }
    }
  }

  &__list {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    overflow-x: auto;

    &-product {
      position: relative;
      width: 285px;
      height: 424px;
      background-color: #fff;
    }
    &-mobile {
      display: none;
    }

    svg {
      position: absolute;
      right: 20px;
      top: 20px;
    }

    h3 {
      margin: 16px 0 0 16px;
      font-weight: 600;
      font-size: 18px;
    }
    p {
      margin: 8px 0 0 16px;
      color: var(--gray-dark);
      font-weight: 500;
    }
  }

  &__mobile {
    display: none;
  }
}

.star-filled {
  fill: var(--brown);
}
