.breadCrumbs{
    display: flex;
    gap: 15px;
    margin-top: 24px;
}

.breadCrumbs__passiv{
    color: var(--gray);
    cursor: pointer;
}

.product{
    display: flex;
    margin-top: 24px;
}
.product__image{
    max-width: 692px;
    height: 464px;
}

.product__miniImg{
    margin-top: 24px;
    display: flex;
    gap: 9px;
}


.description {
    margin-left: 20px;
}
.description__title {
    font-size: 24px;
}
.description__extra {
    margin-top: 24px;
    display: flex;
}
.description__extra-stars {
    margin-right: 4px;
    width: 20px;
    height: 20px;

}
.description__extra-reviews {
    color: var(--gray-dark);
    margin-left: 12px;
}
.description__extra-stock {
    margin-left: 40px;
}
.description__extra-inStock {
    margin-left: 2px;
    color: var(--gray-dark);
}
.descriotion__price {
    margin-top: 24px;
    display: flex;
}
.descriotion__price-discount {
    font-size: 24px;
}
.descriotion__price-basic {
    margin-left: 16px;
    font-size: 24px;
    color: var(--gray);
    
}
.descriotion__color {
    margin-top: 24px;
}
.descriotion__color-title {
}
.descriotion__color-flex {
    margin-top: 8px;
    display: flex;
    gap: 8px;
}
.descriotion__color-flex-items {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
}
.descriotion__active{
    border: 1px solid var(--gray-dark);
}

.descriotion__color-flex-items:hover {
    border: 1px solid var(--gray-dark);
}

.description__add {
    margin-top: 24px;
    display: flex;
}
.description__add-btn {
    width: 386px;
    height: 48px;
    display: flex;
    border-radius: 4px;
    background-color: var(--black);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 8px;
}
.description__add-btn__icon {
    width: 21px;
    height: 21px;
}
.description__add-btn__text{
    color: #fff;
}
.description__add-favor {
    cursor: pointer;
    width: 48px;
    height: 48px;
    border: 2px solid var(--black);
    border-radius: 4px;
    margin-left: 20px;
    padding: 12px;
}

.description__social {
    display: flex;
    margin-top: 24px;
    gap: 8px;
}
.description__social-text {
    margin-top: 5px;
    margin-right: 24px;
}