@media screen and (max-width: 1200px) {
  .container {
    padding: 0 20px;
  }
}

// ===============header===============
@media screen and (max-width: 1050px) {
  .header {
    &__navigation {
      display: none;
    }
    &__user {
      display: none;
    }
    &__burger {
      display: block;
    }
  }
}

@media screen and (max-width: 650px) {
  .header__search {
    display: none;
  }
}

// ===============main===============
@media screen and (max-width: 1200px) {
  .bread-crumbs {
    max-width: 900px;
    margin: 24px auto 0;
  }

  .product {
    max-width: 900px;
    margin: 24px auto 0;
    display: block;
  }

  .product__images {
    display: flex;

    &-thumbnails {
      margin-top: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
    }
    &-thumbnail:not(:last-child) {
      margin-right: 0px;
    }

    &-thumbnail {
      margin-left: 20px;
      width: 115px;
    }
  }
  .product__details {
    margin: 24px 0 0;
  }
}

@media screen and (max-width: 900px) {
  .product {
    max-width: 600px;
  }

  .product__images {
    display: block;

    &-thumbnails {
      flex-direction: row;
      overflow-x: auto;
    }

    &-main {
      height: auto;
    }

    &-thumbnail {
      margin: 20px 0 0 0;
    }
  }

  .bread-crumbs {
    max-width: 600px;
  }
}
@media screen and (max-width: 500px) {
  .description__add-btn {
    width: 260px;
  }
}

// ===============similar===============
@media screen and (max-width: 1120px) {
  .similar {
    &__list {
      max-width: 895px;
      margin: 24px auto 0;
      grid-template-columns: repeat(3, 1fr);
    }
    &__header {
      margin: 0 auto;
      max-width: 895px;
    }
  }
}

@media screen and (max-width: 920px) {
  .similar {
    &__list {
      max-width: 590px;
      grid-template-columns: repeat(2, 1fr);
    }
    &__header {
      max-width: 590px;
    }
  }
}

@media screen and (max-width: 600px) {
  .similar {
    &__header {
      display: flex;
      justify-content: center;

      &-buttons {
        display: none;
      }
    }
    &__list {
      &-product {
        display: none;
      }
      &-mobile {
        display: block;
        position: relative;
        width: 156px;
        height: 283px;
        background-color: #fff;
      }

      &-icon {
        position: absolute;
        right: 10px;
        top: 10px;
      }

      &-title {
        margin: 8px 8px 0;
        font-weight: 500;
        font-size: 16px;
      }
      &-price {
        margin: 8px 0 0 8px;
        color: var(--gray-dark);
        font-weight: 500;
      }
    }

    &__mobile{
      margin-top: 24px;
      display: flex;
      gap: 16px;
      justify-content: flex-end;
    }
  }
}

//===============footer===============
@media screen and (max-width: 980px) {

  .footer__navigation {
    &-title {
      margin-left: 40px;
    }
    &-link {
      margin-left: 40px;
    }
  }
}

@media screen and (max-width: 870px) {
  .footer__content {
    display: block;
    align-items: center;
  }
  .resetting-margin {
    margin-left: 0px;
  }
  .footer__info{
    padding-top: 40px;
  }
}

@media screen and (max-width: 600px) {
  .footer__navigation {
    &-list {
      display: grid;
      gap: 40px;
      grid-template-columns: 150px 150px;
    }
    &-title {
      margin-left: 0px;
    }
    &-link {
      margin-left: 0px;
    }
  }
}
