@media screen and (max-width: 1200px) {
  .container {
    padding: 0 20px;
  }
}

// ===============header===============
@media screen and (max-width: 1050px) {
  .header {
    &__nav {
      display: none;
    }
    &__person {
      display: none;
    }
    &__burger {
      display: block;
    }
  }
}

@media screen and (max-width: 650px) {
  .header__input {
    display: none;
  }
}

// ===============main===============
@media screen and (max-width: 1200px) {
  .product {
    max-width: 900px;
    margin: 24px auto 0;
    display: block;

    &__img {
      display: flex;

      &-container {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
      }

      &-mini:not(:last-child) {
        margin-right: 0px;
      }

      &-mini {
        margin-left: 20px;
        width: 115px;
      }
    }
    .description {
      margin: 24px 0 0;
    }
  }

  .breadCrumbs {
    max-width: 900px;
    margin: 24px auto 0;
  }
}

@media screen and (max-width: 900px) {
  .product {
    max-width: 600px;

    &__img {
      display: block;

      &-container {
        flex-direction: row;
        overflow-x: auto;
      }

      &-main {
        height: auto;
      }

      &-mini {
        margin: 20px 0 0 0;
      }
    }
  }
  .breadCrumbs {
    max-width: 600px;
  }
}
@media screen and (max-width: 500px) {
  .description__add-btn {
    width: 260px;
  }
}

// ===============similar===============
@media screen and (max-width: 1120px) {
  .similar {
    &__list {
      max-width: 895px;
      margin: 24px auto 0;
      grid-template-columns: repeat(3, 1fr);
    }
    &__header {
      margin: 0 auto;
      max-width: 895px;
    }
  }
}

@media screen and (max-width: 920px) {
  .similar {
    &__list {
      max-width: 590px;
      grid-template-columns: repeat(2, 1fr);
    }
    &__header {
      max-width: 590px;
    }
  }
}

@media screen and (max-width: 500px) {
  .similar {
    &__header {
      display: flex;
      justify-content: center;
      
      &-btn {
        display: none;
      }
    }
    &__list {
      &-product {
        display: none;
      }
      &-mobile {
        display: block;
        position: relative;
        width: 156px;
        height: 283px;
        background-color: #fff;
      }

      svg {
        position: absolute;
        right: 10px;
        top: 10px;
      }

      h3 {
        margin: 8px 0 0 8px;
        font-weight: 500;
        font-size: 16px;
      }
      p {
        margin: 8px 0 0 8px;
        color: var(--gray-dark);
        font-weight: 500;
      }
    }

    &__mobile-btn {
      margin-top: 24px;
      display: flex;
      gap: 16px;
      justify-content: flex-end;

      div {
        text-align: center;
        padding-top: 11px;
        width: 44px;
        height: 44px;
        border-radius: 4px;
      }

      &__active {
        border: 1px solid var(--black);
        cursor: pointer;

        svg {
          stroke: var(--black);
        }

        &:hover {
          border: 1px solid var(--brown);

          svg {
            stroke: var(--brown);
          }
        }
      }

      &__notActive {
        cursor: default;
        border: 1px solid var(--gray-light);

        svg {
          stroke: var(--gray-light);
        }
      }
    }
  }
}

//===============footer===============
@media screen and (max-width: 980px) {
  .footer__nav {
    &-title {
      margin-left: 40px;
    }
    &-link {
      margin-left: 40px;
    }
  }
}

@media screen and (max-width: 870px) {
  .footer {
    &__flex {
      display: block;
      align-items: center;
    }
  }
  .resetting__margin {
    margin-left: 0px;
  }
}

@media screen and (max-width: 600px) {
  .footer__nav {
    display: grid;
    gap: 40px;
    grid-template-columns: 150px 150px;
    &-title {
      margin-left: 0px;
    }
    &-link {
      margin-left: 0px;
    }
  }
}
